*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.skillsSection{
    overflow-y: scroll;
    width: 50vw;
    font-family: 'Roboto Slab', serif;

    /* background-color: red; */
    height: 100%;
    /* width: 100vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

.headeing{
    margin-bottom: 10px;
    margin-top: 10px;
    color: wheat;
    font-style: italic;
}