
html, body {
    padding:0;
    margin:0;
    box-sizing: border-box;
   }

body{
    overflow: hidden;
    background-color: rgb(63,0,220);
    color: white;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.icon_container{
    display: flex;
    flex-direction: column;
    width: 90px;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(18,25,44);
    color: white;
    font-weight: 200;
    font-size: x-large;
    transition: all .5s ease-in-out;
    z-index: 10000;
    min-width: 85px;
    min-height:100vh;

}

.toggleContainer{
    align-items: flex-start;
    width: 18vw;
}

.innerIconContainer{
    width: 50%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
 .innerIconContainer:hover{
    
    background-color: rgb(12,93,244);
}

.nav__toggle{
    cursor: pointer;
}

.textdata{
    display: none;
}
.fortextdata{
    display: block;
    
}

.innerIconContainer{
    width: 90%;
      display: flex;
    justify-content: flex-start;
    align-items: center;
}

 .nav__icon{
     display: flex;
    justify-content: center;
    align-items: center;
}

.innerIconContainer >ion-icon{
    padding-left: 20px;
}

.textdata{
    padding-left: 20px;
}

.container{
    display: flex;
}

.content{
    /* position: relative; */
}

.header{
position: absolute;
top: 0;
left: 0;
background-color: rgb(18,25,44);
width: 100vw;
height: 5vh;
overflow: hidden;
transition: all .5s ease-in-out;
}
.toggleheader{
    top: 0;
left: 0;
    position: absolute;
    top: 0;
    background-color: rgb(18,25,44);
    height: 5vh;
    width: 100vw;
    transition: all .5s ease-in-out;

}

.midcontainer{
    /* height: 100vh; */
    width: 100%;
    /* margin-top: 200px; */
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: rgb(63,0,220);
    
}

.leftpart{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size:3rem;
    color: white;
}

.middlepart{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    width: 42%;
    
}


.middlepart h1{
    font-family: 'Roboto Slab', serif;
    font-size: 60px;
    color: white;
    letter-spacing: 1.5px;
}

.middlepart span{
    font-size: large;
    font-weight: 400;
    font-style: italic;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.middlepart{
    color: white;
}
.middlepart p{
    font-size: medium;
    font-family: 'Cinzel', serif;
}



.btn-grad {background-image: linear-gradient(to right, #00c6ff 0%, #0073ffa6  51%, #00c6ff  100%)}
.btn-grad {
   margin-top: 30px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   /* box-shadow: 0 0 20px #eee; */
   border-radius: 10px;
   display: block;
   border: none;
   font-size: large;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }


button a{
    text-decoration: none;
    color: white;
}


a{
    text-decoration: none;
    color: white;

}

a:visited { color: white; }

a:hover { color: white; }


@media only screen and (max-width: 1145px) {
    .middlepart h1{
        font-family: 'Roboto Slab', serif;
        font-size: 50px;
        color: white;
        letter-spacing: 1.5px;
    }
    .leftpart{
        height: 40vh;
    }
}

@media only screen and (max-width: 830px) {
    .middlepart h1{
        font-family: 'Roboto Slab', serif;
        font-size: 42px;
        color: white;
        letter-spacing: 1.5px;
    }
    .toggleContainer{
        width: 500px;
    }
    .innerIconContainer h5{
        font-size: medium;
    }

}


@media only screen and (max-width: 500px) {

    
    .middlepart h1{
        font-family: 'Roboto Slab', serif;
        font-size: 30px;
        color: white;
        letter-spacing: 1.5px;
    }

    .midcontainer{
        flex-direction: column;
        /* width: 100vw; */
        justify-content: center;
        padding-left: 10px;
    }

       
    .middlepart{
        width: 80%;
    }

    .leftpart{
        width: 80%;
        height: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .btn-grad{
        margin-top: 5px;
        margin-bottom: 20px;
    }

    .toggleContainer{
        width: 500px;
    }

    .innerIconContainer h5{
        font-size: medium;
    }
}


@media only screen and (max-width: 360px) {
  
    .innerIconContainer h5{
        font-size: medium;
    }
    .middlepart h1{
        font-size: 20px;
        
    
    }
    
    .midcontainer{
        padding-top: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-radius: 5px solid red;
    }

    .leftpart{
        height: 25vh;
    }

    .toggleContainer{
        width: 500px;
    }

   

}

@media only screen and (max-width: 540px) {
  
     
    .middlepart h1{
        font-family: 'Roboto Slab', serif;
        font-size: 30px;
        color: white;
        letter-spacing: 1.5px;
    }

    .midcontainer{
        flex-direction: column;
        /* width: 100vw; */
        justify-content: center;
        padding-left: 10px;
        padding-top: 40px;
    }

       
    .middlepart{
        width: 80%;
    }

    .leftpart{
        width: 80%;
        height: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .btn-grad{
        margin-top: 5px;
        margin-bottom: 20px;
    }

    .toggleContainer{
        width: 500px;
    }

    .innerIconContainer h5{
        font-size: medium;
    }

}


@media only screen and (max-width: 280px) {

  .midcontainer{
      padding-top: 50px;
  }
    
    .middlepart h1{
        font-family: 'Roboto Slab', serif;
        font-size: 20px;
        color: white;
        letter-spacing: 1.5px;
    }
}

@media only screen and (max-width: 1118px) {

  .midcontainer{
      padding-top: 30px;
  }
    
    .middlepart h1{
        font-family: 'Roboto Slab', serif;
        font-size: 20px;
        color: white;
        letter-spacing: 1.5px;
    }
}

.leftpart ion-icon{
    cursor: pointer;
}